* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.switch-theme {
  background-color: #161c26;
  color: #f7f7f7;
  transition: 0.8s;
}

.switch {
  position: relative;
  display: inline-block;
  width: 53px;
  height: 31.5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  border: 1px solid #161c26;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 4px;
  bottom: 4px;
  background: linear-gradient(
      180deg,
      rgba(183, 52, 179, 0.15) 0%,
      rgba(164, 46, 156, 0) 100%
    ),
    #6e40c9 !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #161c26;
  border: 1px solid #f7f7f7;
}

input:focus + .slider {
  box-shadow: 0 0 1px #161c26;
}

input:checked + .slider:before {
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
